<h1>Dealerships</h1>
<div class="text-right w100">
  <% if current_user.is_admin? %>
  <%= link_to 'New Dealership', new_dealership_path %>
  <% end %>
</div>
<hr>
<table width="100%">
  <tr>
    <th align="left">Name</th>
    <% if current_user.is_admin? %>
    <th width="200">Actions</th>
    <% end %>
  </tr>

  <% @dealerships.each do |dealership| %>
  <tr>
    <td><%= link_to dealership.name, "/dealerships/#{dealership.id}/cars" %></td>
    <% if current_user.is_admin? %>
    <td align="center" width="200">
      <%= link_to 'Edit', edit_dealership_path(dealership) %>
      <%= link_to 'Delete', dealership_path(dealership), method: :delete, data: { confirm: "Are you sure?"} %>
    </td>
    <% end %>
  </tr>
  <% end %>
  <table>